<% if @section.children.size > 0 %>
    <ul class="nav nav-tabs nav-stacked">
        <% @section.children.each do |section| %>
            <li><a href="<%= section_path(section) %>"><%= section.pretty_name %></a></li>
        <% end %>
    </ul>
<% end %>

<% if @page %>
    <h3><%= @page.title %></h3>
    <%= @page.body.to_s.html_safe  %>
<% elsif @section.portfolio.size > 0 %>
    <%= render :partial => 'sections/portfolio_paging' %>
    <div>
        <% each_with_borders(@section.portfolio.all(:limit => SectionsController::PORTFOLIO_PER_PAGE, :offset => @page_number * SectionsController::PORTFOLIO_PER_PAGE)) do |portfolio, index, last| %>
            <div>
                <a href="<%= portfolio_path(portfolio) %>"><h3><%= portfolio.title %></h3></a>
                <%= portfolio.preview.to_s.html_safe  %>
            </div>
            <div class="well well-small" style="margin-bottom: 50px;"><a href="<%= portfolio_path(portfolio) %>"><%= t('sections.details') %></a></div>
        <% end %>
    </div>
    <%= render :partial => 'sections/portfolio_paging' %>
<% end %>