<% if @portfolio.section.portfolio.size > 1 %>
    <div class="pagination pagination-centered">
        <ul>
            <% @portfolio.section.portfolio.each_with_index do |portfolio, index| %>
                <li<%= portfolio.id == @portfolio.id ? ' class="active"'.html_safe : '' %>>
                    <a href="<%= portfolio_path(portfolio) %>"><%= (index + 1) %></a>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

<% if @portfolio.asset_type == Portfolio::TYPE_JPG %>
    <img src="<%= @portfolio.picture.url %>" 
         width="<%= @portfolio.picture.width %>" 
         height="<%= @portfolio.picture.height %>">
<% elsif @portfolio.asset_type == Portfolio::TYPE_SWF %>
    <object width="<%= @portfolio.file.width %>" 
            height="<%= @portfolio.file.height %>">
        <param name="movie" value="<%= @portfolio.file.url %>">
        <embed src="<%= @portfolio.file.url %>" 
               width="<%= @portfolio.file.width %>" 
               height="<%= @portfolio.file.height %>">
        </embed>
    </object>
<% else %>
    <div><%= t('errors.undefined_portfolio_type', :type => @portfolio.asset_type) %></div>
<% end %>

<% if @portfolio.section.portfolio.size > 1 %>
    <div class="pagination pagination-centered">
        <ul>
            <% @portfolio.section.portfolio.each_with_index do |portfolio, index| %>
                <li<%= portfolio.id == @portfolio.id ? ' class="active"'.html_safe : '' %>>
                    <a href="<%= portfolio_path(portfolio) %>"><%= (index + 1) %></a>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>